.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: lighten(blue, 25%);
}
.header-left {
  color: white;
}
.header-right {
  display: flex;
  align-items: center;
}
.navigation {
  margin: 0;
  padding: 15px;
}
li {
  display: inline-block;
  margin-right: 25px;

  a {
    text-decoration: none;
    color: white;
    font-size: 22px;
  }
}
