<div class="header-container">
  <div class="header-left">
    <h1>ROLODEX</h1>
  </div>
  <div class="header-right">
    <ul class="navigation">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/contacts">View All Contacts</a>
      </li>
      <li>
        <div class="create-contact">
          <button (click)="create()">
            Create Contact
          </button>
        </div>
      </li>
      <li>
        <a href="/profile">My Profile</a>
      </li>
    </ul>
    <div class="logged-out" *ngIf="!user.loggedIn">
      <button (click)="login()">
        Login
      </button>
    </div>
    <div class="logged-in" *ngIf="isLoggedIn()">
      Welcome, {{user.username}}
      <button (click)="logout()">Logout</button>
    </div>
  </div>
</div>
